pkgs/

.env
.env.*
**/.env
**/.env.*

commit.txt
config/programs/eww/hotfile-eww/*

config/sessions/hyprland/scripts/quickshell/quickactions/Todo.qml

# Nix
result
result-*

# Installer
installer/node_modules/
installer/package-lock.json
*.qcow2
